## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>연락처 | K-MOOC</title></%block>

<%block name="js_extra"></%block>

<section class="container contact">
	<h2>연락처</h2>
	<div class="map_box">
		<img src="/static/images/map_metro.gif" alt="약도">
	</div>
	<dl>
		<dt>&bull; 주 &nbsp; 소</dt>
		<dd>[137-863] 서울시 서초구 남부 순환로 2557(서초동 1365-23번지) K-MOOC진흥본부</dd>
		<dt>&bull; 연락처 </dt>
		<dd>02 - 3780 – 9700 ( 평일 09:00 ~ 18:00 / 토,일,공휴일 휴무 )</dd>
		<dt>&bull; 이메일</dt>
		<dd>support_kmooc@nile.or.kr</dd>
	</dl>
</section>
