## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>K-MOOC란? | K-MOOC</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      var hash = window.location.hash

      if (hash) {
        $('section' + hash).show();
        $('#about-menu a.' + hash.substring(1)).addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }

      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>


<section class="container about" style="width: auto;">

  <nav id="about-menu">
    <a href="#about" class="about active">소개</a>
    <a href="#careers" class="careers">추진체계</a>
  </nav>
<!-- 소개 S -->
   <section id="about" class="message">
    <section class="school_info">
        <div class="inner">
            <p class="title_type2"><span>한국형 무크(K-MOOC)</span></p>
            <p>MOOC(Massive Open Online Course)란 온라인을 통해서 누구나, 어디서나, 원하는 강의를 무료로 들을 수 있는 온라인 공개강좌 서비스를 말합니다.<br>
            <p>무크(MOOC)는 학습자가 수동적으로 듣기만 하던 기존의 온라인 학습동영상과 달리 교수자와 학습자, 학습자와 학습자간 질의응답, 토론, 퀴즈, 과제 제출 등 양방향 학습이 가능한 새로운 교육 환경을 제공합니다.
                        아울러, 수강인원의 제한없이 누구나 수강이 가능하여, 학습자는 배경지식이 다른 학습자간 지식 공유를 통해 대학의 울타리를 넘어 새로운 학습경험을 하게 될 것입니다.</p>
						<p>2015년 한국형 무크(K-MOOC)는 서울대, KAIST 등 10개 국내 유수대학의 총 27개 강좌를 시작으로 ’18년까지 총 500개 이상의 강좌 운영을 목표로 매년 강좌 수를 확대해 나갈 계획입니다.<br>
						앞선 ICT 인프라 환경과 e-Learning 기술력을 바탕으로 우리나라의 고등교육 정보화 수준은 이미 세계 일류 수준을 보유하고 있습니다. 앞으로 한국형 무크(K-MOOC)가 글로벌(Global) 명품 브랜드로 거듭나기 위해 최선을 다하겠습니다.
						</p>
        </div>

        <div class="inner">
            <p class="title_type2"><span>비전</span></p>
            <p>한국형 무크(K-MOOC)는 “열린 고등교육 체제를 통한 대학교육 혁신”을 비전으로 모든 강의를 무료로 제공함으로써,
                대학 간 교육 역량 격차에 따른 제약을 완화하여 대학 교육의 실질적인 기회 균형을 실현하고자 하며, 궁극적으로 대학교육에 대한 평생학습 기반을 마련, 국가 인적자원개발에 기여할 것입니다.</p>
        </div>

        <div class="inner">
            <p class="title_type2"><span>추진경과</span></p>
            <p>2015년 첫 선을 보이는 한국형 무크(K-MOOC)는 ’15.2월 사업 기본계획을 수립하고, 4월 시범운영에 참여할 10개 대학과 총 27개의 강좌를 선정하였으며, 참여대학은 9월까지 학교의 명예를 걸고 최고 수준의 강좌를 개발하였습니다.</p>
            <p>참여대학의 강좌를 탑재하고 학습자가 접속해서 이용하게 되는 플랫폼은 ‘공개, 공유’라는 무크(MOOC)의 기본정신과 향후 강의 콘텐츠의 국제적 호환성 등을 종합적으로 고려하여 (美)MIT와 Harvard대에서 개발하여 공개하고 있는 ‘Open edX 플랫폼’을 활용하여 구축하였습니다.</p>
        </div>

        <div class="inner">
            <p class="title_type2"><span>활용</span></p>
						<div class="img_box">
								<img src="/static/images/intro01.png" alt="활용사례 - 대학생은 사전수업준비 및 심화(보충)학습, 교수는 수업중 콘텐츠 활용, 대학은 대학 내 미개설 과목에 대한 학습 기회 제공, 일반학습자는 개인 역량 강화를 통한 취업 활용, 기업은 직장 내 재직자 훈련에 활용, 퇴직자는 창업 아이템 발굴 및 정보활용 등">
						</div>
        </div>
    </section>
   </section>
<!-- 소개 E -->

<!-- 추진체계 S -->
   <section id="careers" class="message">
    <section class="school_info">

        <div class="inner">
            <p class="title_type2"><span>추진체계</span></p>
            <p>한국형 무크(K-MOOC)는 교육부와 사업 주관기관인 국가평생교육진흥원 외에 한국교육학술정보원, 한국대학교육협의회, 한국교육방송공사(EBS) 등 관계기관과 참여대학간 긴밀한 협력을 통해 추진하고 있습니다.</p>
            <p>플랫폼(http://kmooc.kr)에 강좌를 제공하고 강좌를 운영하는 참여대학은 2015년 서울대, KAIST 등 총 10개 대학이며, 매년 개설강좌 수와 참여기관을 확대해 나갈 계획입니다. 사업 전 과정에서 참여대학의 자율성과 다양성이 최대한 존중되고 발휘될 수 있도록 추진할 계획입니다.</p>
						<div class="img_box">
								<img src="/static/images/intro02.png" alt="추진체계 - 수요자는 국민, 공급자는 참여대학(10개 대학 + 계속 확대), 추진기관은 교육부, KERIS, 국가평생교육진흥원, 한국대학교협의회, EBS 으로 구성">
						</div>
        </div>

		</section>
	</section>
<!-- 추진체계 E -->
</section>
