## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%!
  from datetime import date
%>

<div class="wrapper-footer">
  <footer id="footer-openedx">
        <script type="text/javascript">
            function fPopup(type){
                var w = 500;
                var h = 700;
                var url, name;

                if(type == 'e'){
                    url = 'https://www.eprivacy.or.kr:40018/seal/mark.jsp?mark=e&code=2015-N015';
                    name = 'e';
                }else{
                    url = 'https://www.eprivacy.or.kr:40018/seal/mark.jsp?mark=i&code=2015-N008';
                    name = 'i';
                }
                var x = (screen.availWidth  / 2) - (w/2);
                var y = (screen.availHeight / 2) - (h/2);
                window.open(url, name, "toolbar=no,resizable=yes,scrollbars=yes,status=no,location=no,left="+ x + ",top=" + y + ",width=" + w + ",height="+ h);
            }
        </script>
        <div class="colophon">
            <div class="wrapper-logo">
                <p>
                    <a href="/"><img alt="K-MOOC" src="/static/images/logo2.png" style="padding-left:10px;"></a>
                </p>
            </div>

            <nav class="nav-colophon" aria-label="About">
                <ol>
                    <li><a href="/faqs">${_("FAQ")}</a></li>
                    <li><a href="/contact">${_("Contact Us")}</a></li>
                    <li><a target="_blank" href="http://blog.naver.com/kmooc_kr">${_("Blog")}</a></li>
                    <li><a href="/openapi">${_("OPEN API")}</a></li>
                    <li><a href="/cert_check">${_("Certificate Id Check")}</a></li>
                </ol>
            </nav>

            <p class="copyright">Copyright (c) 2015. National Institute For Lifelong Education. All rights reserved</p>

            <nav class="nav-legal" aria-label="Legal">
                <ul>
                    <li class="nav-legal-01"><a href="/agreement">${_("Terms of Use")}</a></li>
                    <li class="nav-legal-02"><a href="/Privacy-Policy" onmouseout="this.style.color='white';" onmouseover="this.style.color='yellow';" style="color: white;">${_("Privacy Statement")}</a></li>
                    <li class="nav-legal-03"><a href="/Copyright-Policy">${_("Copyright Policy")}</a></li>
                </ul>
            </nav>
            <div class="sns">
                <a target="_blank" href="https://www.youtube.com/channel/UCaXoWllLNJ4t5d39nmJKyJw"><img alt="유투브" src="/static/images/sns1.png"></a>
                <a target="_blank" href="http://mme.kmoocs.kr/vod/pop-up.htm"><img alt="페이스북" src="/static/images/sns2.png"></a>
            </div>

            <div class="accessibility">
                <a target="_blank" href="http://wa.or.kr/waMark/status.asp"><img alt="한국장애인단체총연합회 한국웹접근성인증평가원 웹 접근성 우수사이트 인증마크" src="/static/images/access.png"></a>
                <a href="javascript:fPopup('e');"><img alt="개인정보보호마크" src="/static/images/eprivacy.png"></a>
                <a href="javascript:fPopup('i');"><img alt="인터넷사이트안전마크" src="/static/images/isafe.png"></a>
            </div>

        </div>
    </footer>
</div>


